.box{
    background-color: transparent;
    padding: 10px;
    position: relative;
    top: 36px;
    left: 43px;
    width: 1320px;
    height: 115px;
    z-index: -3;
    border: 1px solid white; 

}

.container{
    display: flex;
    gap: 230px;
    margin-left: 200px;
    margin-top: 30px;
}

#logo{
    position: relative;
    top: 17px;
    left: 10px;
}

#wp{
    position: absolute;
    top: 1234px;
    left: 37px;
}

#lkn{
    position: absolute;
    top: 1175px;
    left: 37px;
}

#insta{
    position: absolute;
    top: 1116px;
    left: 37px;
}

#o-email{
    position: absolute;
    top: 48px;
    left: 1283px;
}

#emailtext{
    color: white;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
}

body{
    background-color: rgb(255, 115, 26);
}

.blocos{
    color: white;
    font-family: 'Montserrat';
    font-weight: 400;
}
.inner-box{
    position: relative;
    background-color: transparent;
    top: -110px;
    left: -11px;
    border: 1px solid white;
    width: 115px;
    height: 1320px;
}

.container2{
    margin-top: 368px;
    margin-left: 782px;
}

#foto{
    float: right;
    position: absolute;
    margin-left: 791px;
    margin-top: 397px  ;
}

h1{
    
    position: absolute;
    margin-left: 352px;
    margin-top: 404px;
    float: left;
    font-size: 48px;
    color: white;
}

#texto{
    position: absolute;
    margin-left: 352px;
    margin-top: 651px;
    float: left;
    font-size: 16px;
    color: white;
}

#mm{
    background-color:blueviolet;
}