.box{
    background-color: transparent;
    padding: 10px;
    position: absolute;
    top: 36px;
    left: 43px;
    width: 1320px;
    height: 115px;
    z-index: -3;
    border: 1px solid white; 

}

.container{
    position: relative;
    display: inline-flex;
    gap: 100px;
    left: 200px;
}

#logo{
    position: relative;
    top: 17px;
    left: 10px;
}

#wp{
    position: absolute;
    top: 1234px;
    left: 37px;
}

#lkn{
    position: absolute;
    top: 1175px;
    left: 37px;
}

#insta{
    position: absolute;
    top: 1116px;
    left: 37px;
}

#o-email{
    position: absolute;
    top: 48px;
    left: 1283px;
}

#emailtext{
    color: white;
    position: absolute;
    top: 40px;
    left: 1150px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
}

body{
    background-color: rgb(255, 115, 26);
}


.inner-box{
    position: relative;
    background-color: transparent;
    top: -80px;
    left: -11px;
    border: 1px solid white;
    width: 115px;
    height: 1320px;
}